body {
  font-family: Arial;

  background: blue;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.stopa {
 height: 30rem;

}

.footer {
  position: sticky;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ddd;
  z-index: 1;
}
.footer-dev {

    margin: 0 auto;
    display: flex;

    padding: 0 1.5rem;
}
