html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #c3d3d2;
  border-left: 5px double black;
  border-right: 5px double black;
}
.header {
  margin: 0 auto;
  padding-top: 14px;
  text-align: center;
  width: 100%;
  background: #075890;
  border-top: 5px double black;
  border-bottom: 5px double black;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  margin-top: 20px;


  width: 94%;

}

.demo h1 {
  margin-top: 0;
}



.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #075890;
  text-align: center;
  border-top: 5px double black;
  border-bottom: 5px double black;
}

.test{

}

