{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'forecast.css' %}">
    <title>Title</title>
</head>
<body>
<div class="header">
    <ul>
        <li>

            {% for x in main_data %}


            <div class="test">
                <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/> <br>
                {{x.city}} <br> <br>
                {{x.temp}}°C <br> <br>
                <p class="clock" timezone={{x.utc}}>

                </p>
            </div>
            {% endfor %}

        </li>
    </ul>
</div>
<script>
function dateToText(date) {
    var hours = date.getHours()
    var minutes = date.getMinutes();
    // var seconds = date.getSeconds();
    if (minutes < 10) minutes = '0'+minutes;
    //if  seconds < 10) seconds = '0'+seconds;
    if (hours < 10) hours = '0'+hours;
    return hours + ":" + minutes; // + ":" + seconds;
}
function updateClocks() {
	for (var i = 0; i < window.arrClocks.length; i++) {
		var clock = window.arrClocks[i];
		var offset = window.arrOffsets[i];
		clock.innerHTML = dateToText(new Date(new Date().getTime()+offset));
	}
}
function startClocks() {
	clockElements = document.getElementsByClassName('clock');
	window.arrClocks = []
	window.arrOffsets = [];
	var j = 0;
	for(var i = 0; i < clockElements.length; i++) {
		el = clockElements[i];
		timezone = parseInt(el.getAttribute('timezone'));
		if (!isNaN(timezone)) {
			var tzDifference = timezone * 60 + (new Date()).getTimezoneOffset();
			var offset = tzDifference * 60 * 1000;
			window.arrClocks.push(el);
			window.arrOffsets.push(offset);
		}
	}
	updateClocks();
	clockID = setInterval(updateClocks, 1000);
}
setTimeout(startClocks, 100);










</script>


<div class="demo">
    <div class="demos">
        <h1>
            Check the weather in your city!
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Check!">
        </form>
    </div>
</div>

<div class="curr">
    <h1>Current weather</h1>
    <h2>
        <img src="http://openweathermap.org/img/w/{{current.icon}}.png" alt="Image"/>
        {{current.city}} /
        {{current.date}} /
        <p class="clock" timezone={{current.utc}}></p>
    </h2>
    <div class="details">
        <div class="left" style="width: 50%; float:left">
            <h4>
                Temperature: {{current.temp}}°C<br>
                Perceived temperature: {{current.feels_like}}°C<br>
                Pressure: {{current.pressure}} hPa<br>

            </h4>
        </div>
        <div class="right" style="width: 50%; float:right">
            <h4>
                Air humidity: {{current.humidity}} %<br>
                Wind: {{current.wind}} m/s <br>
                Wind direction: {{current.dir}} <br>
            </h4>
        </div>
    </div>

</div>

<div class="forecast">
    <div class="today">
    <h1>5 day / 3 hour forecast</h1>
    <h2> Today</h2>
        <h3></h3>
    {% for x in first_day %}

    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}}

      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>

    {% endfor %}</div>
    <div class="tomorrow">
    <h2> Tommorow</h2>
        <h3></h3>
    {% for x in second_day %}

    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}} <br>

      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>
    {% endfor %}
    </div>
    <div class="third">
    {% for x in third_day %}
       <h2> {{x.day_name}}
    {% endfor %}</h2>
        <h3></h3>
    {% for x in third_day %}


    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}} <br>

      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>
    {% endfor %}
    </div>
    <div class="fourth">
{% for x in fourth_day %}
       <h2> {{x.day_name}}</h2>
    {% endfor %}
        <h3></h3>


    {% for x in fourth_day %}


    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}} <br>


      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>
    {% endfor %}
    </div>
    <div class="fifth">
{% for x in fifth_day %}
       <h2> {{x.day_name}}</h2>
    {% endfor %}
        <h3></h3>

    {% for x in fifth_day %}

    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}} <br>

      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>
    {% endfor %}
    </div>
    <dix class="sixth">
    {% for x in sixth_day %}
       <h2> {{x.day_name}}</h2>
    {% endfor %}
        <h3></h3>

    {% for x in sixth_day %}

    <h4>
        <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>

        {{x.data}} <br>

      Temperature: {{x.temperature}} °C<br>
      Decription: {{x.description}}


    </h4>
    {% endfor %}
    </dix>
        </li>
    </ul>

<div class="footer">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://google.com/"> webpage.com</a>

    </div>




</body>
</html>