<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</h1>
<!--<h1>
{{current.city}}
{{current.description}}
{{current.temp}}
{{current.name}}
{{current.temp_max}}
</h1>
{% for x in  weather_data %}
<h2>


    {{x.data}}
    {{x.pressure}}




</h2>
{% endfor %}-->

</body>
</html>