{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
</head>
<body>
<div class="header">

    <h3>

        <figure class="image is-50x50">
 <div class="test">
  {% for x in main_data %}

            <img src="http://openweathermap.org/img/w/{{x.icon}}.png" alt="Image"/>


            {{x.city}}
            {{x.temp}}°C




        {% endfor %}</figure>
    </h3>
        </div>
</div>
<div class="demo">
    <h1>
        Check the weather in your city!
    </h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

</div>

<div class="footer">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://google.com/"> webpage.com</a>

</div>
</body>
</html>